.filter-category{
    border: 1px solid gray;
    margin-top: 20px;
    padding: 5px 10px 10px 15px;
}
.filter-category label {
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom:0 ;
}
.filter-category input {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}
.selected-filters ul {
    padding: 0;
}
.selected-filters li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px; 
}
.selected-filters li .btn {
    color: #fff;
    margin-top: -5px;
}
.selected-filters li .btn:hover{
    text-decoration: none;
}
.character{
    background: #333;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
}
.character h3 {
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0;
  }

.character img{
    max-width: 100%;
}
.character > div{
    position: relative;
}
.character .name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(0,0,0,.5);
    padding: 10px;
}

.character .name span{
    font-size: .7rem;
}

.character .info {
    font-size:.7rem;
    border-bottom: 1px solid #555;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 10px;
}

.character .info span.value {
    color: orange;
    text-align: right;
}